@font-face {
  font-family: Poppins;
  src: url(Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(Poppins-Bold.ttf);
}
:root{
  --main-bg-color:rgb(91, 9, 167);
}
* {
  font-family: Poppins;
  padding: 0;
  margin: 0;
}

.btn {
  border-radius: 12px;
  color: white;
  background-color: blue;
  border: blue;
  width: 90px;
  height: 42px;
}
.btn:hover {
  font-weight: bolder;
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.bg-red {
  background: red;
}
.mx-auto {
  margin: auto;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.item-center {
  align-items: center;
}
.cur-df{
  cursor: default;
}
.indent{
  text-indent: 30px;
  display: block;
}
.indentx{
  text-indent: 180px;
  display: block;
}
.low-op{
  opacity: 10%;
}
body {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background: url(night-city-city-6000x4000-9753.jpg);
  background-size: cover;
}
::-webkit-scrollbar{
  visibility: hidden;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(22, 0, 77, 0.785);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.372);
}