#clockcontainer{
position: relative;
margin: auto;
width: 40vw;
height: 40vw;
background: url(clock.png) no-repeat;
background-size: 100%;
}
#hour, #minute, #second{
position: absolute;
background: black;
border-radius: 15px;
}
#hour{
    width: 2%;
    height: 24%;
    top: 27%;
    left: 49.15%;
    opacity: 0.8;
    transform-origin: bottom;
}
#minute{
    width: 1.4%;
    height: 31%;
    top: 20%;
    left: 49.54%;
    opacity: 0.8;
    transform-origin: bottom;
}
#second{
width: 1.3%;
height: 25%;
top: 26%;
    left: 49.55%;
    opacity: 0.8;
    transform-origin: bottom;
}
