
body{
  background-color: var(--main-bg-color);
}
header {
  display: flex;
  justify-content: center;
  height: 14vh;
}
.logo {
  justify-content: center;
  margin: 9px 0;
}
.logo {
  position: absolute;
}

.logo img {
  width: 100px;
  border-radius: 55px;
  border: 5px solid white;
}
nav {
  background: rgb(0, 0, 0);
  display: flex;
  width: 60vw;
  margin-top: 5vh;
  border-radius: 30px;
}
#navl {
  margin-left: 200px;
}
nav ul {
  height: 58px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 45px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
  list-style: none;
}
nav ul li {
  text-decoration: none;
  padding: 0 25px;
  list-style: none;
}

nav ul li a:hover {
  font-weight: bolder;
}


/*  Cards */

 .cards {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  top: 6vh;
}
.set{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cards img{
  display: flex;
  height: 140px;
  width: 140px;
  justify-content: center;
  align-items: center;
}
.cards .wrapper:hover {
  font-weight: bolder;
  cursor: pointer;
}
.wrapper{
  position: relative;
  height: 220px;
  width: 220px;
  perspective: 1000px;
  margin: 50px 80px;
  text-align: center;
}
.wrapper .flip-card{
  position: relative;
  height: 100%;
  width: 100%;
  background: #D48600;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  border-radius: 45px;
}
.wrapper:hover .flip-card{
  transform: rotateY(180deg);
}
.flip-card .card{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #D48600;
  border-top: 2px solid aquamarine;
  border-left: 2px solid aquamarine;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  backface-visibility: hidden;
  position: absolute;
}
.back.card{
  transform: rotateY(180deg);
}
/* .back.card .home-logo{
  position: relative;
  height: 65px;
  width: 65px;
  border: 5px solid #4d2600;
  border-radius: 50%;
  margin-right: 16px;
} */
/* .home-logo .icon{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(6px);
  display: inline-block;
  height: 15px;
  width: 25px;
  background: #4d2600;
} */
/* .home-logo .icon::before{
  content: "";
  position: absolute;
  top: -15px;
  height: 25px;
  width: 25px;
  background: #4d2600;
  transform: rotate(45deg);
} */
/* .back.card .num{
  font-size: 25px;
  font-weight: 600;
  color: #4d2600;
} */

.front.card{
  background-color: aqua;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
}
.front.card > .title{
  font-family: Poppins-Bold;
  font-size: 1.5rem;
  margin-top: 5px;

}
.back.card{
  background-color:aqua;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.back.card span{
  font-family: Poppins-Bold;
  margin-bottom: 15px;
  font-size: 1.35rem;
}
#wrap4{
  position: relative;
  height: 210px;
  width: 230px;
  perspective: 1000px;
  margin: 50px 80px;
}


