body{
background-color: var(--main-bg-color);
overflow: hidden;
}

#laptop-open {
  display: flex;
  justify-content: center;
  /* display: none; */
}
.line {
  background-color: black;
}
#monitor {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 14px solid black;
  border-top: 22px solid black;
  border-bottom: 35px solid black;
  border-radius: 20px;
  transform-style: preserve-3d;
  background-color: white;
}
#monitor video{
  position: relative;
  z-index: 1;
}
#backface img{
  width: 60px;
}

#backface{
  position: absolute;
  transform: rotateY(180);
}
.bgv-max{
 max-width: 99vw;
 max-height: 70vh;
}
#nexus img{
  width: 32px;
  margin: 4px 0;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
#nexus img:hover{
  transform: scale(130%);
}
#nexus{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  flex-direction: column;
  margin-left: 10px;
  height: 100%;
}
#taskbar{
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  z-index: 2;
  background-color: white;
  justify-content: space-between;
}
#taskbar img{
  width: 19px;
  margin: 3px 5px;
  cursor: pointer;
}

.left{
  margin-left: 7px;
  display: flex;
  align-items: center;
}
.right{
  margin-right: 7px;
  display: flex;
  align-items: center;
}

#dropdn{
  transform: rotateZ(180deg);
}